.rapid-notes_search {
    width: calc(100% - 20px);
}

.rapid-notes_prompt-div {
    display: flex;
}

.rapid-notes_prompt-input {
    flex-grow: 1;
}

.rapid-notes_button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}